In [13]:
import os
import urllib.parse
from dotenv import load_dotenv
from sqlalchemy import create_engine

# Load environment variables
load_dotenv()

db_user = os.getenv("DB_USER")
db_password = urllib.parse.quote_plus(os.getenv("DB_PASSWORD"))
db_host = os.getenv("DB_HOST")
db_port = os.getenv("DB_PORT")
db_name = os.getenv("DB_NAME")

connection_string = f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
engine = create_engine(connection_string)

%reload_ext sql
%sql engine
%config SqlMagic.displaylimit = 10

### Customer Cohort Analysis 

This notebook analyzes the customer cohorts for each year and saves it as a View inside the database.

In [10]:
%%sql
WITH sales_data AS(
SELECT 
    s.customerkey AS customer_id,
    SUM(netprice*quantity*exchangerate) as total_sales 
FROM sales as s 
group by s.customerkey
)

SELECT
    AVG(sd.total_sales) as Spending_Customers,
    AVG(COALESCE(sd.total_sales , 0)) as All_Customers
FROM customer AS c 
LEFT JOIN sales_data AS sd 
on c.customerkey = sd.customer_id

Running query in 'postgresql://postgres:***@localhost:5432/Contoso_100k'

1 rows affected.

+--------------------+--------------------+
| spending_customers |   all_customers    |
+--------------------+--------------------+
| 4170.944663852411  | 1965.9733172689237 |
+--------------------+--------------------+

Average revenue per customer (ARPC) and how it changes based on data from only spending customers vs all customers.

## Creating Cohort Analysis View

This would help us further in customer churn analysis and more cohort based analysis to understand customer retention.

In [11]:
%%sql
-- public.cohort_analysis source

DROP VIEW cohort_analysis;

CREATE OR REPLACE VIEW public.cohort_analysis AS 
WITH customer_revenue AS (
         SELECT s.customerkey,
            s.orderdate,
            sum(s.netprice * s.quantity::double precision * s.exchangerate) AS revenue,
            count(s.orderkey) AS num_orders,
            c.countryfull,
            c.age,
            c.givenname,
            c.surname
           FROM sales s
             LEFT JOIN customer c ON c.customerkey = s.customerkey
          GROUP BY s.customerkey, s.orderdate, c.countryfull, c.age, c.givenname, c.surname
        )
 SELECT customerkey,
    orderdate,
    revenue,
    num_orders,
    countryfull,
    age,
    CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS customer_name,
    min(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
    EXTRACT(year FROM min(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
   FROM customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/Contoso_100k'

++
||
++
++

In [ ]:
%%sql

SELECT *
FROM cohort_analysis;

Running query in 'postgresql://postgres:***@localhost:5432/Contoso_100k'

83099 rows affected.

+-------------+------------+--------------------+------------+-------------+-----+--------------------+---------------------+-------------+
| customerkey | orderdate  |      revenue       | num_orders | countryfull | age |   customer_name    | first_purchase_date | cohort_year |
+-------------+------------+--------------------+------------+-------------+-----+--------------------+---------------------+-------------+
|      15     | 2021-03-08 |    2217.4064388    |     1      |  Australia  |  55 |  Julian McGuigan   |      2021-03-08     |     2021    |
|     180     | 2018-07-28 | 525.3105168000001  |     1      |  Australia  |  65 | Gabriel Bosanquet  |      2018-07-28     |     2018    |
|     180     | 2023-08-28 | 1984.9047399999995 |     2      |  Australia  |  65 | Gabriel Bosanquet  |      2018-07-28     |     2018    |
|     185     | 2019-06-01 |    1395.5234436    |     1      |  Australia  |  40 | Gabrielle Castella |      2019-06-01     |     2019    |
|     243     | 2016-05-19 | 287.66755741500003 |     1      |  Australia  |  66 |   Maya Atherton    |      2016-05-19     |     2016    |
|     387     | 2018-12-21 |  2370.5407431904   |     4      |  Australia  |  35 |  Tahlia Underwood  |      2018-12-21     |     2018    |
|     387     | 2021-10-30 |   1265.55637824    |     1      |  Australia  |  35 |  Tahlia Underwood  |      2018-12-21     |     2018    |
|     387     | 2023-11-16 | 1019.7404437260001 |     4      |  Australia  |  35 |  Tahlia Underwood  |      2018-12-21     |     2018    |
|     406     | 2021-11-06 | 2193.4154119823997 |     2      |  Australia  |  48 |   Oliver Corrie    |      2021-11-06     |     2021    |
|     545     | 2023-07-01 | 3551.4730731600002 |     6      |  Australia  |  56 |    Jordan Batt     |      2023-07-01     |     2023    |
+-------------+------------+--------------------+------------+-------------+-----+--------------------+---------------------+-------------+
Truncated to displaylimit of 10.